main{
    width: 600px;
    margin: 0 auto;
}

.row{
    width: 100%;
    clear: both;
}
.cell{
    float: left;
    min-height: 150px;
    margin-bottom: 30px;
    background-color: blue;
    margin-right: 30px;
}
.cell:last-of-type{
    margin-right: 0;
}
.col-1{
    width: 180px;
}
.col-2{
    width: 390px;
}
.col-3{
    width: 100%;
}
