main header, main div,  footer{
    height: 150px;
    margin-bottom: 30px;
    background-color: cornflowerblue 
}
main{
    width: 600px;
    margin: 0 auto;
}
header{
    width: 600px;
}
footer{
    widows: 600px;
    clear: both;
}
.cell{
    float: left;
    width: 180px;
    margin: 30px;
    margin-left: 0;
}

.cell:last-of-type{
    margin-right: 0;
}

