*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1{
    font-family: 'Lobster';
    font-size: 90px;
}
p{
    font-family: 'PT Sans';
    font-size: 80px;
}
.pt-regular{
    font-weight: normal;
}
.pt-regular-italic{
    font-weight: 400;
    font-style: italic;
}
.pt-bold{
    font-weight: 700;
    font-style: normal;
}
.pt-bold-italic{
    font-weight: 700;
    font-style: italic;
}