.main{
    margin-bottom: 15px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.26);
}
.attr{
    position: absolute;
    background-color: red;
    border-radius: 24px;
    border: 1px solid white;
    text-align: center;
    min-width: 20px;
    top: -8px;
    right: -8px;

}
.a{
    color: white;
}
