.message{
    position: absolute;
    top: 30px;
    right: 30px;
    width:300px;
    height: 150px;
    padding: 15px 20px;
    border: solid 1px black;
}
.message a {
    text-decoration: none;
    color: gray;
    position: absolute;
    top: 15px;
    right: 15px;
}
.message p{
    margin: 0 0 10px;
    font-weight: bold;
}
.message span{
    display: inline-block;
}